<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <style media="screen">
    .dialog-panel {position:fixed; left: 50%; top: 10px; width: 500px; margin-left:-250px; z-index:99; display:none}
    .dialog-shadow {position:fixed; left: 0; top:0; width:100%; height:100%; background:#000; opacity:0.3; z-index:98; display:none}
    </style>
    <title></title>
  </head>
  <body>
    <button type="button" id="btn_add" class="btn btn-default">添加</button>

    <!-- 添加 -->
    <div class="dialog-shadow" id="shadow"></div>
    <div class="panel panel-default dialog-panel" id="dialog">
      <div class="panel-heading">
        <h2 class="panel-title">
          添加
          <a href="#" class="glyphicon glyphicon-remove pull-right" id="btn_close"></a>
        </h2>
      </div>
      <div class="panel-body">
        <!--内容-->
        <form action="/admin/<%=name%>" method="post" enctype="multipart/form-data">

          <% for(let name in message){%>
          <div class="form-group">
            <label for="<%=name%>"><%=message[name].title%></label>
            <%
            switch(message[name].type){
              case 'textarea':
            %>
              <textarea id="<%=name%>" name="<%=name%>" class="form-control" rows="5" placeholder="请输入<%=message[name].title%>"></textarea>
            <%
                break;
              case 'fields':
            %>
              <div class="message" id="message_<%=name%>">
                <div class="row">
                  <div class="col-xs-4">
                    <input type="text" class="form-control" name="<%=name%>_key" placeholder="请输入字段名称">
                  </div>
                  <div class="col-xs-8">
                    <input type="text" class="form-control" name="<%=name%>_value" placeholder="请输入字段值">
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-default" onclick="addField('message_<%=name%>', '<%=name%>')">添加</button>
            <%
                break;
              case 'files':
            %>
              <input type="file" class="form-control" id="<%=name%>" name="<%=name%>" placeholder="请输入<%=message[name].title%>" multiple>
            <%
                break;
              default:
            %>
              <input type="<%=message[name].type%>" class="form-control" id="<%=name%>" name="<%=name%>" placeholder="请输入<%=message[name].title%>">
            <%
                break;
            }
            %>

          </div>
          <% } %>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">添加</button>
            <button type="button" class="btn btn-default" id="btn_cancel">取消</button>
          </div>
        </form>
      </div>
    </div>

    <!-- 修改 -->
    <div class="dialog-shadow" id="shadow2"></div>
    <div class="panel panel-default dialog-panel" id="dialog2">
      <div class="panel-heading">
        <h2 class="panel-title">
          修改
          <a href="#" class="glyphicon glyphicon-remove pull-right" id="btn_close2"></a>
        </h2>
      </div>
      <div class="panel-body">
        <!--内容-->
        <form action="" method="post" enctype="multipart/form-data" id="form_mod">

          <% for(let name in message){%>
          <div class="form-group">
            <label for="<%=name%>_mod"><%=message[name].title%></label>
            <%
            switch(message[name].type){
              case 'textarea':
            %>
              <textarea id="<%=name%>_mod" name="<%=name%>" class="form-control" rows="5" placeholder="请输入<%=message[name].title%>"></textarea>
            <%
                break;
              case 'fields':
            %>
              <div class="message" id="<%=name%>_mod">
                
              </div>
              <button type="button" class="btn btn-default" onclick="addField('<%=name%>_mod', '<%=name%>')">添加</button>
            <%
                break;
              case 'files':
            %>
              <input type="file" class="form-control" id="<%=name%>_mod" name="<%=name%>" placeholder="请输入<%=message[name].title%>" multiple>
            <%
                break;
              default:
            %>
              <input type="<%=message[name].type%>" class="form-control" id="<%=name%>_mod" name="<%=name%>" placeholder="请输入<%=message[name].title%>">
            <%
                break;
            }
            %>

          </div>
          <% } %>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">修改</button>
            <button type="button" class="btn btn-default" id="btn_cancel2">取消</button>
          </div>
        </form>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>
            <input type="checkbox" name="" value="">
          </th>
          <th>ID</th>
          <% for(let name in message){%>
            <%if(message[name].showInTable!==false){%>
              <th><%=message[name].name%></th>
            <%}%>
          <%}%>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <%datas.forEach(data=>{%>
          <tr>
            <td>
              <input type="checkbox" name="" value="">
            </td>
            <td><%=data.ID%></td>
            <% for(let name in message){%>
              <%if(message[name].showInTable!==false){%>
                <td><%=data[name]%></td>
              <%}%>
            <%}%>
            <td>
              <button type="button" class="btn btn-default" onclick="modify('<%=JSON.stringify(data)%>')">修改</button>
              <button type="button" class="btn btn-danger" onclick="deleteLine('<%=data.ID%>','<%=name%>')">删除</button>
            </td>
          </tr>
        <%})%>

      </tbody>
    </table>


    <%if(page_count>1){%>
      <nav>
        <ul class="pagination">
          <%if(page>1){%>
            <li>
              <a href="/admin/<%=name%>/<%=page-1%>">
                <span>&laquo;</span>
              </a>
            </li>
          <%}%>

          <%for(let i=1;i<=page_count;i++){%>
            <%if(i==page){%>
              <li class="active"><a href="#"><%=i%></a></li>
            <%}else{%>
              <li><a href="/admin/<%=name%>/<%=i%>"><%=i%></a></li>
            <%}%>
          <%}%>

          <%if(page<page_count){%>
            <li>
              <a href="/admin/<%=name%>/<%=page+1%>">
                <span>&raquo;</span>
              </a>
            </li>
          <%}%>
        </ul>
      </nav>
    <%}%>

    <script type="text/javascript">
    let oBtn=document.getElementById('btn_add');
    let oBtnCancel=document.getElementById('btn_cancel');
    let oBtnClose=document.getElementById('btn_close');
    let oShadow=document.getElementById('shadow');
    let oDialog=document.getElementById('dialog');

    oBtn.onclick=function (){
      oShadow.style.display='block';
      oDialog.style.display='block';
    };

    oBtnCancel.onclick=oBtnClose.onclick=function (){
      oShadow.style.display='none';
      oDialog.style.display='none';
    };

    function addField(id, name){
      let oParent=document.getElementById(id);
      let row=document.createElement('div');
      row.className="row";
      row.innerHTML=`
      <div class="col-xs-4">
        <input type="text" class="form-control" name="${name}_key" placeholder="请输入字段名称">
      </div>
      <div class="col-xs-8">
        <input type="text" class="form-control" name="${name}_value" placeholder="请输入字段值">
      </div>`;

      oParent.appendChild(row);
    }

    // 点击修改按钮
    function modify(current_data){
      current_data=JSON.parse(current_data);
      let oBtnCancel=document.getElementById('btn_cancel2');
      let oBtnClose=document.getElementById('btn_close2');
      let oShadow=document.getElementById('shadow2');
      let oDialog=document.getElementById('dialog2');
      let form=document.getElementById('form_mod');

      //修改form提交路径
      form.action=`/admin/<%=name%>/${current_data.ID}`;

      //显示弹窗
      oShadow.style.display='block';
      oDialog.style.display='block';

      //渲染数据
      for(let name in current_data){
        let el=document.getElementById(`${name}_mod`);
        if(el){
          if(name=="features"){
            //获取父元素
            let parent=document.getElementById(`${name}_mod`);
            //清除父元素数据
            parent.innerHTML='';
            //分隔数据
            let arr=current_data[name]?current_data[name].split(","):[];
            arr.forEach(element => {
              let [key,value]=element.split("|");
              let row=document.createElement("div");
              row.className="row";
              row.innerHTML=`<div class="col-xs-4">
                  <input type="text" class="form-control" name="${name}_key" value=${key}>
                </div>
                <div class="col-xs-8">
                  <input type="text" class="form-control" name="${name}_value" value=${value}>
                </div>`;
              parent.appendChild(row);
            });
          }else if(name=="images"||name=="image"){
            
          }else{
            el.value=current_data[name];
          }
        }
      }

      //关闭弹窗
      oBtnCancel.onclick=oBtnClose.onclick=function (){
        oShadow.style.display='none';
        oDialog.style.display='none';
      };
    }

    //删除数据
    function deleteLine(id,name){
      if(confirm(`确认删除${name}的${id}这条数据吗？`)){
        window.location.href=`/admin/del${name}/${id}`;
      }
    }
    </script>
  </body>
</html>